/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-set-2018, 11.46.58
    Author     : ultra
*/

* {
    font-family: Arial, Helvetica, sans-serif
}

.page-heading {
    font-size: 24pt;
    text-align: center;
}

.cinema-panel {
    
  display: grid;
  grid-template-columns: auto auto;  
  padding: 10px;
  grid-row-gap: 50px;
}
    
   
    


.cinema-panel-item {
    display: grid-item;
    
    
    
     
}

.cinema-panel-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    
}

.film-template {
    width: 200px;
    float: left;
}

.film-description {
    padding: 10px;
}

